<main style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    
    <div style="
        width: 80%;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    ">
        <span  style="
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;        
            box-shadow: 1px 1px 2px gray;
            box-sizing: border-box;
            padding: 10px 20px;
        ">
            <input matInput placeholder="Buscar nodo..." [(ngModel)]="searchQuery" value="" style="
            background-color: transparent;
                border: none;
                width: 100%;
                height: 100%;
                min-height: 30px;
            ">
            <mat-icon>search</mat-icon>
        </span>
    </div>

    <section style="
        height: 80%;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 8px;
        box-shadow: 1px 1px 4px gray;
        background-color: #d2d2d2;
        box-sizing: border-box;
        padding: 30px 0px;
        position: relative;
        overflow: hidden;
    " 
    cdkDropListGroup
    >
        <div style="
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            overflow: hidden;
            box-sizing: border-box;
            padding: 10px 20px;
        "
        >
            <grupo
                style="width: 100%; height: 100%;"
                grupoName="Nodos sin asignar"
                [nodosList]="getUnassignedNodes()"
                [dropListGroup]="dropListGroupIds"
                dropListId="nodos-sin-asignar"
                (onDrop)="drop($event)" 
                (saveClick)="saveGruposNodos()"
                [customStyle]="{'background-color': isGroupHighlighted(getUnassignedNodes()) ? 'yellow':''}"
            ></grupo>
        </div>
        <div 
            style="
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 20px;
                align-items: flex-start;
                width: calc(100% - 300px);
                min-width: calc(100% - 300px);
                box-sizing: border-box;
                padding: 20px 40px;
                overflow-y: auto;
                max-height: 100%;
            "
        >
            @for (grupo of getSortedGroups(); track grupo.id) {
                <grupo
                    [ngStyle]="{'width': '20%', 'min-width': '300px'}"
                    [customStyle]="{'min-width': '100%', 'height': '330px','background-color' : isGroupHighlighted(grupo.content) ? 'yellow':''}"
                    [grupoName]="grupo.name"
                    [nodosList]="grupo.content"
                    [dropListGroup]="dropListGroupIds"
                    [dropListId]="'grupo-' + grupo.id"
                    (onDrop)="drop($event)" 
                    (deleteGroup)="deleteGroup($event)"
                    (clearAllNodes)="clearAllNodes($event)"
                ></grupo>
            }
            <button style="background-color: #fafafa;
                width: 20%;
                min-width: 300px;
                height: 330px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0px;
                box-shadow: 1px 1px 4px gray;
                border-radius: 8px;
                cursor: pointer;
                "
                (click)="addGroup()"
            >
                <mat-icon style="
                    color: #00A339;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 42px;
                ">add</mat-icon>
            </button>
        </div>
    </section>
    <div style="display: flex; justify-content: flex-end; width: 80%; margin-top: 20px;">
        <button mat-fab extended (click)="saveGruposNodos()" style="margin-left: 40px; background-color: #00A339; color: white;" >
            GUARDAR
            <mat-icon>save</mat-icon>
        </button>
    </div>
</main>