<article 
    class="grupo-cabecera"
    cdkDropList
    [id]="'cabecera-'+id"
    [cdkDropListData]="grupoDetalle()"
    [cdkDropListConnectedTo]="getListaCabeceras()"
    [cdkDropListSortingDisabled]="true"
    (cdkDropListDropped)="dropHandler($event)"
    cdkDrag
    [cdkDragData]="{ id, tipo: 'cabecera', grupoPaletizado }"
>
    <aside>
        <mat-icon (click)="deleteCabecera()">cancel</mat-icon>
    </aside>    
    <h3>#{{id}} - Grupo Nodo</h3>
    <div>
        <mat-form-field  appearance="outline">
            <mat-label>Nodo destinatario</mat-label>
            <mat-select [value]="nodoDestinatario">                
                @for (nodo of listNodo(); track nodo.id) {
                    <mat-option [value]="nodo.nodoDestino">
                        {{nodo.nodoDestino}} - 
                        {{ nodo.nodoDescripcion && 
                            nodo.nodoDescripcion.length > 11 ?
                            nodo.nodoDescripcion.slice(0, 11) + '...' :
                            nodo.nodoDescripcion }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field  appearance="outline">
            <mat-label>Plaza Ruteo</mat-label>
            <mat-select [value]="plazaRuteo">
                @for (nodo of listNodo(); track nodo.id) {
                    <mat-option [value]="nodo.nodoDestino">
                        {{nodo.nodoDestino}} - 
                        {{ nodo.nodoDescripcion && 
                            nodo.nodoDescripcion.length > 11 ?
                            nodo.nodoDescripcion.slice(0, 11) + '...' :
                            nodo.nodoDescripcion }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    <section>        
        <mat-list>            
            @for (detalle of grupoDetalle(); track detalle.id) {
                <mat-list-item cdkDrag [cdkDragData]="detalle">
                    <strong>#{{detalle.id}} - {{detalle.nodoCodigo}}</strong>
                    <p>{{detalle.nodoDescripcion}}</p>
                </mat-list-item>
            }
        </mat-list>
    </section>
</article>