<article 
    class="grupo-cabecera"
    cdkDropList
    [id]="'cabecera-'+id"
    [cdkDropListData]="grupoDetalle()"
    [cdkDropListConnectedTo]="getListaCabeceras()"
    [cdkDropListSortingDisabled]="true"
    (cdkDropListDropped)="dropHandler($event)"
    cdkDrag
    [cdkDragData]="cabecera"
>
    <aside>
        <mat-icon (click)="deleteCabecera()">cancel</mat-icon>
    </aside>
    <header>
        <h3>Grupo: {{id}}</h3>
        <mat-slide-toggle
            [checked]="cabecera?.activo"
            (change)="
                updateActivoGrupoCabecera()
            ">
        </mat-slide-toggle>
    </header>
    <div>
        <mat-form-field  appearance="outline">
            <mat-label>Nodo destinatario</mat-label>
            <mat-select [value]="nodoDestinatario"  (selectionChange)="onNodoDestinatarioChange($event)">                
                @for (nodo of listNodo(); track 'destinatario-' + nodo.id + '-' + $index) {
                    <mat-option [value]="nodo.nodoDestino">
                        {{nodo.nodoDestino}} - 
                        {{ nodo.nodoDescripcion && 
                            nodo.nodoDescripcion.length > 11 ?
                            nodo.nodoDescripcion.slice(0, 11) + '...' :
                            nodo.nodoDescripcion }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field  appearance="outline">
            <mat-label>Plaza Ruteo</mat-label>
            <mat-select [value]="plazaRuteo"  (selectionChange)="onPlazaRuteoChange($event)">
                @for (nodo of listNodo(); track 'ruteo-' + nodo.id + '-' + $index) {
                    <mat-option [value]="nodo.nodoDestino">
                        {{nodo.nodoDestino}} - 
                        {{ nodo.nodoDescripcion && 
                            nodo.nodoDescripcion.length > 11 ?
                            nodo.nodoDescripcion.slice(0, 11) + '...' :
                            nodo.nodoDescripcion }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    <section>        
        <mat-list>            
            @for (detalle of grupoDetalle(); track 'detalle-' + detalle.id + '-' + $index) {
                <mat-list-item cdkDrag [cdkDragData]="detalle">
                    <strong>{{detalle.nodoTipo == 1 ? 'SUC' : 'CD'}}: {{detalle.nodoCodigo}}</strong>
                    <p>
                        {{  detalle.nodoDescripcion &&
                            detalle.nodoDescripcion.length > 18 ?
                            detalle.nodoDescripcion.slice(0, 18) + '...' :
                            detalle.nodoDescripcion
                        }}
                    </p>
                </mat-list-item>
            }
        </mat-list>
    </section>
</article>