<article
    class="grupo-nodo"
    cdkDropList
    [id]="'nodos-disponibles'"
    [cdkDropListData]="getNodo()()"
    [cdkDropListConnectedTo]="getListaCabeceras()"
    (cdkDropListDropped)="drop($event)"
>
    <h3>Nodos Disponibles</h3>
    <aside>        
        <mat-form-field appearance="outline">
          <mat-label>Buscar Nodo</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </aside>
    <mat-list>
        @for (nodo of getNodo()(); track nodo.id) {            
            <mat-list-item cdkDrag [cdkDragData]="nodo">
                <strong>#{{nodo.id}} - {{nodo.nodoCodigo}}</strong>
                <p>{{nodo.nodoDescripcion}}</p>
            </mat-list-item>
        }
    </mat-list>
</article>