<article
    class="grupo-nodo"
    cdkDropList
    [id]="'nodos-disponibles'"
    [cdkDropListData]="nodosDisponibles()"
    [cdkDropListConnectedTo]="getListaCabeceras()"
    [cdkDropListSortingDisabled]="true"
    (cdkDropListDropped)="dropHandler($event)" 
>
    <h3>Nodos Disponibles</h3>
    <aside>        
        <mat-form-field appearance="outline">
          <mat-label>Buscar Nodo</mat-label>
          <input
            matInput 
            [value]="searchQuery()"
            (input)="searchQuery.set($any($event.target).value)"
          >
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </aside>
    <mat-list>
        @for (nodo of nodosDisponibles(); track 'disponible-' + nodo.id + '-' + $index) {            
            <mat-list-item cdkDrag [cdkDragData]="nodo">
                <strong>NodoDestino: {{nodo.nodoDestino}} - Codigo: {{nodo.nodoCodigo}}</strong>
                <p>{{nodo.nodoDescripcion}}</p>
            </mat-list-item>
        }
    </mat-list>
</article>