<section    
    cdkDropList
    [cdkDropListData]="nodosList"
    [cdkDropListConnectedTo]="dropListGroup"
    [id]="dropListId"
    (cdkDropListDropped)="onDrop.emit($event)"
    [ngStyle]="customStyle"
>
    <h4 style="text-align: center; font-weight: 500;">{{grupoName}}</h4>
    <mat-list class="scroll-container">
        @for (nodo of nodosList; track nodo.id; let i = $index) {
            <mat-list-item               
                [ngStyle]="{'background-color': i % 2 === 0 ? 'white' : '#00a33931'}"
                cdkDrag
            >
                <div>#{{nodo.id}} - {{nodo.name.toUpperCase()}}</div>
                <div style="font-size: 12px;">{{nodo.address}}</div>
            </mat-list-item>
        }
    </mat-list>
    <span>
        <label style="color: red;">Delete</label>
        <label style="color: #00A339;">Clear All</label>
    </span>

</section>
