<section>
    <h2>Grupos Paletizado</h2>
    <aside>SEARCH</aside>
    <article>
        <section>
            <h3>Cabecera-1</h3>
            <div>Opciones</div>
            <article>
                <h4>Nodos</h4>
                <ul>
                    <li>Nodo-A</li>
                </ul>
            </article>
        </section>
        <section>
            <h3>Cabecera-2</h3>
            <div>Opciones</div>
            <article>
                <h4>Nodos</h4>
                <ul>
                    <li>Nodo-B</li>
                </ul>
            </article>
        </section>
        <section>
            <h3>Cabecera-N</h3>
            <div>Opciones</div>
            <article>
                <h4>Nodos</h4>
                <ul>
                    <li>Nodo-C</li>
                </ul>
            </article>
        </section>
    </article>
</section>