<article class="grupo-paletizado">
    <h3>Grupos Paletizado</h3>
    <aside class="aside-search">        
        <mat-form-field appearance="outline">
          <mat-label>Buscar grupo Paletizado</mat-label>
          <input 
            matInput
            [value]="searchQuery()"
            (input)="searchQuery.set($any($event.target).value)"
          >
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button mat-mini-fab color="primary" class="add-button" (click)="openDialogGrupoPaletizado()">
            <mat-icon>add</mat-icon>
        </button>
    </aside>
    <section>
        @for (paletizado of grupoPaletizado(); track paletizado.id) {
            <article>
                <aside>
                    <h4>#{{paletizado.id}} - {{paletizado.nombre}} </h4>
                    <button mat-mini-fab color="primary"  (click)="openDialogGrupoCabecera(paletizado.id)">
                        <mat-icon>add</mat-icon>
                    </button>
                </aside>
                <section
                    cdkDropList
                    [id]="'paletizado-'+paletizado.id"
                    [cdkDropListData]="getGrupoCabecera(paletizado.id)()"
                    [cdkDropListConnectedTo]="getListaPaletizados()"
                    [id]="'paletizado-'+paletizado.id"
                    (cdkDropListDropped)="drop($event)"
                >
                    @for (cabecera of getGrupoCabecera(paletizado.id)(); track cabecera.id) {
                        <grupo-cabecera
                            [dropHandler]="dropHandler"
                            [id]="cabecera.id"
                            [grupoPaletizado]="paletizado.id"
                            [nodoDestinatario]="cabecera.nodoDestinatarioId"
                            [plazaRuteo]="cabecera.nodoPlazaRuteoId" />
                    }
                </section>
            </article>
        }
    </section>
</article>